:root {
  --heading-black-color: #212121;
  --text-grey-color: #757575;
  --blue-color: #2196f3;
  --logo-black-color: #000000;
  --white-color: #ffffff;
  --background-black-color: #2f303a;
  --background-grey-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-grey-color);
}

/* лого */

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--blue-color);
}

.logo-header {
  color: var(--logo-black-color);
}

.logo-footer {
  color: var(--white-color);
}

/* хедер */

.nav-list,
.header .contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  list-style: none;
}

.nav-list a {
  color: var(--heading-black-color);
  text-decoration: none;
}

.nav-list .current-page {
  color: var(--blue-color);
}

.contact-list a {
  color: inherit;
  text-decoration: none;
}

.header a:hover,
.header a:focus {
  color: var(--blue-color);
}

/* страница с портфолио */

.portfolio-buttons,
.portfolio-list {
  list-style: none;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--heading-black-color);
  background-color: var(--background-grey-color);

  cursor: pointer;
}

.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.portfolio-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--heading-black-color);
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* футер */

.footer {
  background-color: var(--background-black-color);
}

.footer a:hover,
.footer a:focus {
  color: var(--blue-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

.footer .contact-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
